.Rproj.user/*
.Rhistory
.RData
.Ruserdata


bookcraft/.config/

bookcraft/.local/

bookcraft/.TinyTeX/

bookcraft/.cache/

bookcraft/.bash_history

bookcraft/rstudio/.config/

bookcraft/.sudo_as_admin_successful

bookcraft/courses/.Rproj.user/

bookcraft/courses/book/.Rproj.user/

bookcraft/courses/book/_book/

bookcraft/courses/book/_bookdown_files/

bookcraft/courses/book/rendera9804d57a284.rds

bookcraft/datasets/

*.rds

bookcraft/rstudio/
